@(username: String, searchForm: Form[Search])

@import play.api.Play.current
@import play.api.i18n.Messages.Implicits._

<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Twitzer 2.0 - Home</title>
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/home.css")">

        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.6/slate/bootstrap.min.css" crossorigin="anonymous">
    
        <!--JQuery pulldown -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>

        <!-- Latest compiled and minified JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>

    </head>

    <body>
        <h3 id="title"> Username is: @username </h3>

	<div class="well bs-component" id="search-form-well">
            @helper.form(action = routes.Application.searchResults, 'id -> "playForm") {
                @helper.inputText(searchForm("twitterUsername"))
                @helper.inputText(searchForm("numTweets"))
                <div class="form-actions">
    			<button class="btn btn-primary" id="searchButton" type="submit">Search</button>
    		</div>
            }
        </div>

        <div class="container" id="historyDiv">
            @helper.form(action = routes.Application.history, 'id -> "playForm") {
                <div class="form-actions">
                    <button class="btn btn-primary" id="historyBtn" type="submit"> View History </button>
                </div>
            }
        </div>

	<br>

        <div class="container" id="logoutDiv">
            @helper.form(action = routes.Application.logout, 'id -> "playForm") {
                <div class="form-actions">
                    <button class="btn btn-primary" id="logoutBtn" type="submit"> Logout </button>
                </div>
            }
        </div>

	<br>

        <footer>
            <p> Twitzer 2.0 </p>
        </footer>

        
    </body>
</html>
